<section>
    <aside>
        <ul>
        	<li ng-class="{active: activeSideEl === 'bio'}">Short Bio</li>
        	<li ng-class="{active: activeSideEl === 'lang'}">Languages</li>
        	<li ng-class="{active: activeSideEl === 'prj'}">Projects</li>
        	<!-- TODO Fix sideNav positioning -->
        </ul>
    </aside>
    <article>
    	<section>
    		<header>
    			<h1 in-view="activateSideNavEl('bio')">Short Bio</h1>
    		</header>
    		<article>
    			<p>
		        	Ciao, sono Matteo Scandolo, web enthusiast nato nel maggio '86. Lavoro quotidianamente con un team eterogeneo di esperti che collaborano nella creazione di Rich Application web e mobile oriented.
		        </p>
				<div>
					<em>In particolare le mie conoscenze sono orientate a:</em>
					<ul>
						<li>Markup Html5 - valido secondo gli standard w3c</li>
						<li>Advanced Css3 - Anche tramite l'utilizzo di Less</li>
						<li>UX design - con software come Axure RP e Balsamiq Mockup</li>
						<li>Costruzione di layout full responsive - principalmente sfruttando framework come Bootstrap o Foundation</li>
						<li>Javascript - con librerie e framework (jQuery/AngularJs/Intel AppFramework)</li>
						<li>Applicazioni mobile crossplatform (PhoneGap)</li>
						<li>Applicazioni Server-Side (Php e mySql con l'utilizzo di framework quali Yii o LaRavel)</li>
						<li>Utilizzo di API di terze parti - Facebook, Linkedin, Google, Dropbox e altre</li>
						<li>Versioning con Git</li>
						<li>Seo - Conoscenza della struttura dei tag dedicati (meta, :og e microformati schema.org), generazione dinamica di sitemap e utilizzo di Google Analitycs e WebmasterTools</li>
						<li>Buon utilizzo di tutta la Creative Suite Adobe e altri tool (Automator, GIMP, ...)</li>
					</ul>
				</div>
				<div>
					<em>Sempre interessato alle ultime novità da gennaio lavoro con, e non voglio più fare a meno di:</em>
					<ul>
								<li>Database non relazionali (MongoDB)</li>
								<li>Javascript Power Tools (Grunt - Yeoman - Bower)</li>
								<li>Stack MEAN</li>
					</ul>
				</div>

				<p>
				Ma la mia vita non finisce qui, mi piace lavorare in gruppi dove si effettui un continuo scambio di know-how per aumentare le potenzialità di tutto il team, mentre nel tempo libero adoro praticare sport all'aria aperta come surf, ciclismo, snowboard e arrampicata.
				</p>
    		</article>
    	</section>
    	<section>
    		<header>
    			<h1 in-view="activateSideNavEl('lang')">Languages</h1>
    		</header>
    		<article>
    			<p>This are the code languages I use often:</p>
    			<div>
    				<em>Frontend:</em>
    				<ul>
    					<li>Html5</li>
    					<li>AngularJS</li>
    				</ul>
    			</div>
    		</article>
    	</section>
    	<section>
    		<header>
    			<h1  in-view="activateSideNavEl('prj')">Projects</h1>
    		</header>
    		<article>
    			<p>Some project I have collaborated to:</p>
    			<div>
    				<ul>
    					<li><a href="">Cyclotown</a></li>
    					<li><a href="">UrbanFile</a></li>
    				</ul>
    			</div>
    		</article>
    	</section>
    </article>
</section>
