/* ===================================== VARS ======================================*/
$tablet: 1023px;
$mobile: 767px;

/* ===================================== COMMON ======================================*/
header, footer, div.container{
	@include media(max-width $mobile){
    	padding: 0 10px;
    }
}

/* ===================================== HEADER ======================================*/
header {
    @include outer-container;
    aside{
    	@include span-columns(3);
    }
    nav{
    	@include span-columns(9);
    }

    aside, nav {
    	@include media(max-width $mobile){
    		@include span-columns(12);
    	}
    }
}

/* ===================================== MAIN CONTENT ======================================*/
div.container{
	@include outer-container;
	section{
		@include span-columns(12 of 12);
		aside{
			@include span-columns(3);
			@include media(max-width $mobile){
				display: none;
			}
		}
		article{
			@include span-columns(9);
			@include media(max-width $mobile){
	    		@include span-columns(12);
	    	}
		}
	}
}

/* ===================================== FOOTER ======================================*/
footer{
	@include outer-container;
	aside{
    	@include span-columns(3);
    }
    article{
    	@include span-columns(9);
    }

    aside, article {
    	@include media(max-width $mobile){
    		@include span-columns(12);
    	}
    }
}