/* ===================================== VARS ======================================*/
$tablet: 1023px;
$mobile: 769px;
$default-spacing: 10px;

/* ===================================== IMPORT ======================================*/
@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'bitters/base';

@import './grid-settings.scss';
@import './nav.scss';

/* ===================================== LAYOUT ======================================*/

html, body {
    height: 100%;
    margin: 0;
    >.wrapper{
        min-height: 100%;
    }
    header{
        padding-top: $default-spacing;
        padding-bottom: $default-spacing;
        button{
            float: right;
            @include media(min-width $mobile){
                display: none;
            }
        }
        nav{
            transition: height .5s ease-in-out;
            @include media(max-width $mobile){
                height: 0px;
                overflow: hidden;
            }
        }
        nav.active{
            height: 50px;
        }
    }
    footer {
        height: 60px;
        margin-top: -60px;

        @include media(max-width $mobile){
                text-align: center;
            }
    }
}