@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'bitters/base';

@import './grid-settings.scss';
@import './nav.scss';

/* LAYOUT */

html, body {
    height: 100%;
    margin: 0;
    >.wrapper{
        min-height: 100%;
    }

    footer {
        height: 80px;
        margin-top: -80px;
    }
}